{
	"semi": true,
	"singleQuote": true,
	"useTabs": true,
	"tabWidth": 2,
	"trailingComma": "es5",
	"printWidth": 80,
	"endOfLine": "lf",
	"arrowParens": "always",
	"bracketSpacing": true,
	"embeddedLanguageFormatting": "auto",
	"tailwindStylesheet": "./app/assets/css/main.css",
	"plugins": [
		"prettier-plugin-organize-imports",
		"prettier-plugin-tailwindcss"
	],
	"htmlWhitespaceSensitivity": "ignore",
	"vueIndentScriptAndStyle": true
}
